{%extends "layout.html"%}
{% block content %}
<!--  -->
<style>
    body{
        background-image: url('../static/images/homeImg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        font-family: sans-serif;
    }
    .aboutpage{
        text-align: center;
        background: rgba(0,0,0,0.5);
        font-family: sans-serif;
        margin-left: 50%;
    }
    
    .aboutheader{
        font-size: 60px;
        color: blue;
    }
    
    .aboutcontent{
        color: rgb(150,150,150);
        font-size: 30px;
    }
</style>
<div class = "aboutpage">
    <div class = "aboutheader">
    <h1>About Movepal</h1>
</div>
<div class = "aboutcontent">
    <p>
        When moving to a new city, you want to find out everything you can from
        properties, to nearby schools, and so much
        more that you look for in a new area. And when you look at a new area, do you 
        often find yourself having so many tabs open in your web browser to look at all
        of the things you want to look at? Movepal has the solution for you as a one stop 
        place to find everything you need to know when moving to a new city!
    </p>
</div>
    <div class = "authors">
        <h3>Authors: Nahom, Tinsae, Terris, and Raekwon</h3>
    </div>
</div>

{% endblock content %}