{%extends "layout.html"%}
{%block content%}
<h1 align="center">Search Results</h1>
<style>
    body{
        background-image: url('../static/images/loginImg.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="house-list">
{%for house in data%}
    <div class="house-view">
        <img src="{{house['photos'][0]}}" class="card-img-top" alt="House image" style="width:300px;height:300px;">
        <br>
        <h5>{{house['address']}}</h5>
        <br>
        <a href="/search/display/{{house['movepal_id']}}">More information</a>
    </div>
    <!--<br>-->
{%endfor%}
</div>

{%endblock content%}