{%extends "layout.html"%}
{% block content %}

<style>
    body {
        background-image: url('../static/images/drone2Img.jpg');
        background-size: 100% 100%;/*cover;*/
        position: fixed;
        background-repeat: no-repeat;
        font-family: sans-serif;
        /*background-size: cover;
        background-repeat: no-repeat; 
        min-height: 100vh;
        display: flex;
        flex-direction: column;*/

    }

    p.homeHeader{
        text-align: center;
        /* color: #4287f5; */
        color: #555555;
        font-family: "Helvetica";
        font-size: 70px;
    }

    p.subHeader{
        text-align: center;
        color: #4287f5;
        font-size: 20px;
    }

    .home-page{
        background: rgba(200,200,200,0.9);
        position: fixed;
        width: 40%;
        margin-left: 30%;
        /*min-height: 100%;
        margin-left: 50%; /*pushes the div 25% off the screen. since width is 50%, this centers it*/ 
        border-radius: 10px;
    }

   .footer {
        position: fixed;
        width: 100%;
        height: 5%;
        margin:auto;
        margin-bottom: 0%;
        margin-left: 0%;
    }
</style>
<link rel="stylesheet" href="../static/css/all.min.css">

<title>MovePal- Home</title>
<div class = "home-page">
   <p class = "homeHeader">MovePal</p>
    <p class = "subHeader">Finding the Right Place for You</p>
    <!--  <p>Click <a href = "https://movepal-seo.herokuapp.com/login">here</a> to login or if you dont have an account with us <a href = "https://movepal-seo.herokuapp.com/register">sign up here</a></p> -->
</div>



<!--footer start -->


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 title">
               <h1 class = "logo-text"> <span>Move</span>Pal</h1>
                <div class="row">
                    <div class="col-6">
                         <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        
                    </div>
                    <div class="col-6">
                      <ul class="list-unstyled">
                            <h2>More Links</h2>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Legal Terms</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contact Us</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <a href="#">
                        <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                            
                        </a>
                    </fieldset>
                </form>
            </div>
           <div class="socials">
               <a href="#"><i class="fab fa-facebook"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-pinterest"></i></a>
               <a href="#"><i class="fab fa-youtube"></i></a>

            
            
          </div>

    <div class="footer-bottom">
      &copy; movepal | Created by: Terris, Nahom, Raekwon, & Tinsae
    </div>

        </div>
    </div>
</footer>




<!--footer end  -->

{% endblock content%}