{%extends "layout.html"%}
{%block content%}

{%if login_status%}
<style>
    body{
        background-image: url('../static/images/loginImg.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        
    }
    .searchbox{
        /*background-color: white;*/
        border-radius: 10px;
        border:2px solid #e3e0d8   ; 
        padding:10px;
        background-color: #e3e0d8; opacity: 1; background-image: radial-gradient(#31CFEC 1px, transparent 0.5px), radial-gradient(#31CFEC 0.5px, #e3e0d8 0.5px); background-size: 20px 20px; background-position: 0 0,10px 10px;
       
    }
    .content-section{
        padding:25px; 
       /* padding-left:150px;*/
        align-content: center;
        margin:0 auto;
        
    }


</style>
<div class="content-section">
    <div class="searchbox ">
        <form method="POST" action="" >
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Find Houses For Sale</legend>
                <div class="form-group">
                    {{form.city.label(class="form-control-label")}}
                    {{form.city(class="form-control form-control-lg")}}
                </div>
                <div class="form-group">
                    {{ form.state.label(class="form-control-label") }}
                    {{ form.state(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.sort_by.label(class="form-control-label") }}
                    {{ form.sort_by(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.minimum_price.label(class="form-control-label") }}
                    {{ form.maximum_price(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.minimum_beds.label(class="form-control-label") }}
                    {{ form.minimum_beds(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.maximum_beds.label(class="form-control-label") }}
                    {{ form.maximum_beds(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.minimum_baths.label(class="form-control-label") }}
                    {{ form.minimum_baths(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.maximum_baths.label(class="form-control-label") }}
                    {{ form.maximum_baths(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.maximum_hoa.label(class="form-control-label") }}
                    {{ form.maximum_hoa(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info col-lg-offset-4") }}
            </div>
        </form>
    </div>
    <!--
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Name of house</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    -->
</div>
{%else%}
<h1>You are not logged in. Please login and try again</h1>
{%endif%}
{%endblock content%}